.main_contact {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;

  .sbm_btn_div {
    .sbm_btn {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;

      color: #1f1f1f;
      width: 8rem;
      height: 2rem;

      background: linear-gradient(
        255.56deg,
        #d5d3d3 26.17%,
        rgba(255, 255, 255, 0) 97.71%
      );
      border-radius: 10px;
      outline: none;
      border: none;
    }
  }
}
